$black: #444;
$white: #fff;

html {
  overscroll-behavior-y: none;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: $black;

  @media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 2dppx) {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

h1 {
  font-size: 26px;
  margin-bottom: 24px;
}

h2 {
  font-size: 20px;
  margin-bottom: 16px;
}

main {
  margin: 0 0 64px 0;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 414px;
    height: 100vh;
    background: rgba($black, 0.3);
    position: fixed;
    top: 0;
    margin-left: -24px;
    opacity: 0;
    pointer-events: none;
  }

  &::after {
    content: '';
    display: block;
    width: 414px;
    height: 100vh;
    background: $white;
    position: fixed;
    top: 0;
    margin-left: -24px;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }

  > img {
    width: 100%;
    margin-bottom: 32px;
  }

  > p {
    margin-bottom: 32px;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.6;
  }
}

.page {
  &-enter-active {
    transition: 0.38s cubic-bezier(.2,.68,.6,1);
    transform: translateX(414px);
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 414px;
  }

  &-enter-to {
    transition: 0.38s cubic-bezier(.2,.68,.6,1);
    transform: translateX(0px);

    main {
      width: calc(100% - 48px);
      margin-top: calc(120px + 24px);

      &::after {
        opacity: 1;
      }
    }
  }

  &-leave-active {
    transition: 0.38s cubic-bezier(.2,.68,.6,1);
    transform: translateX(0px);
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 414px;

    main {
      width: calc(100% - 48px);
      margin-top: calc(120px + 24px);

      &::before {
        transition: 0.38s cubic-bezier(.2,.68,.6,1);
        opacity: 1;
      }
    }
  }

  &-leave-to {
    transition: 0.38s cubic-bezier(.2,.68,.6,1);
    transform: translateX(-120px);
    opacity: 0.99;
  }
}
